# Objects and Data Structures Assessment Test

## Test your knowledge. 

**Answer the following questions**

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: Numbers are datatypes which includes integers define as object int and floating values which define as object float

Strings:string is datatype , it represents text and python can read it as sequence 

Lists:Lists like as arrays in python which represent squence of different values , values could be any datatype as integer , float or string . values can be changed & mutable 

Tuples:Tuples have same structure of Lists , but there is very big difference , data values into Tuples are immutable and we couldnot change them as lists , we can use tubles for immutable & fixed  values as days

Dictionaries:Dictionary works as hash table , diconary has data structure of squence of elements , each element represent by key and value

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [22]:
#float y
y = 10*10+10**2+1/4-100

print (y)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [24]:
#a=44
a=4 * (6 + 5)
#b=29
b=4 * 6 + 5
#c=34
c=4 + 6 * 5 
print (a,b,c)

44 29 34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>
The type is float

What would you use to find a numberâ€™s square root, as well as its square?

In [81]:
import math
x=float (input('Please enter number : '))
print ( f'Square Root of {x} equal = {math.sqrt(x)}  and its square = {x**2}')

Please enter number : 4
Square Root of 4.0 equal = 2.0  and its square = 16.0

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [25]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [26]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [27]:
s ='hello'
# Print out the 'o'


# Method 1:
s[-1]

'o'

In [28]:
# Method 2:
s[4]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [69]:
# Method 1:
list1=[0,0,0]
list1

[0, 0, 0]

In [70]:
# Method 2:
list2=[ 0 for ii in range(3)]
list2

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [63]:
list3 = [1,2,[3,4,'hello']]
list3[2][2]='goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [64]:
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [65]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [69]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [53]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
#Grab hello

d['k1'][0]['nest_key'][1][0]

'hello'

In [58]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
#Grab hello

d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>

We couldnot sort dictionary , because it works as hash table , and each value represent by its key , and there are no representation of sequence . Dictionary is based on mapping concept . mapping depends on keys not  sequence

## Tuples

What is the major difference between tuples and lists?<br><br>

Values of tuples are immutable and we couldnot change them , but values of lists are mutable

How do you create a tuple?<br><br>

In [59]:
t=(0,1,2)
type(t)

tuple

## Sets

What is unique about a set?<br><br>

Sets are unordered(unindexed) collection of unique elements, items of Set are uinqie and couldnot be repeated or duplicated  into same Set

Use a set to find the unique values of the list below:

In [61]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [71]:
# Answer before running cell
2 > 3
#False

False

In [72]:
# Answer before running cell
3 <= 2
#False

False

In [73]:
# Answer before running cell
3 == 2.0
#False

False

In [74]:
# Answer before running cell
3.0 == 3
#True

True

In [75]:
# Answer before running cell
4**0.5 != 2
#False

False

Final Question: What is the boolean output of the cell block below?

In [80]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?

l_one[2][0] >= l_two[2]['k1']
print ('3 >= 4')
print (False)

3 >= 4
False

# Great Work!